body {
  background-color: rosybrown;
}

p.class {
  color:rgb(126, 37, 37)
}

div.flashy {
  color:rgb(126, 37, 37);
  font-style: italic;
}

p {
  text-align: center;
  color: white
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}